<div id = post-container>
    <div id = author-name-container>
        <p id = author>{{creator}}</p>
    </div>
    <div id = drawing-container class = drawing-post uid = {{id}}>
        <img src = {{data}}>
    </div>
    <div id = info-container>
        <p id = title>{{title}}</p>
        <span id = thumbs-container>
            <i class = "fa fa-thumbs-up" id = thumbs-up></i>
            <!-- Added by Matthew changed Good/bad functionality  -->
                <span id = like-count>{{goodRating}}</span>
            <i class = "fa fa-thumbs-down" id = thumbs-down></i>
                <span id = dislike-count>{{badRating}}</span>
        </span>
    </div>
</div>
