<div class = post-container >
    <div id = author-name-container>
        <p id = author uid = {{id}}>{{creator}}</p>
    </div>
    <div id = drawing-container uid = {{id}}>
        <img src = {{data}}>
    </div>
    <div id = info-container>
        <p id = title uid = {{id}}>{{title}}</p>
        <span id = thumbs-container>
            <i class = "fa fa-thumbs-up" id = thumbs-up></i>
                <span id = like-count>{{goodRating}}</span>
            <i class = "fa fa-thumbs-down" id = thumbs-down></i>
                <span id = dislike-count>{{badRating}}</span>
        </span>
    </div>
</div>
