<div class = post-container uid = {{id}}>
    <div class = photo-name-container>
        <div id = author-name-container uid = {{id}}>
            <p id = author >{{creator}}</p>
        
    </div>
    <div id = drawing-container uid = {{id}} class = post-drawing-item>
        <img src = {{data}}>
    </div>
    </div>
    <div id = info-container>
        <p id = title uid = {{id}} class = post-redirect-item>{{title}}</p>
        <span id = thumbs-container>
            <i class = "fa fa-thumbs-up"selected='false' ></i>
                <span class = like-count>{{goodRating}}</span>
            <i class = "fa fa-thumbs-down"selected='false'></i>
                <span class = dislike-count >{{badRating}}</span>
        </span>
    </div>
</div>
